{% extends 'base.html.twig' %}

{% block body %}
    <div class="">

        <h1>Edit book</h1>

        <br>
        <p>{{ form_start(form) }}</p>
        <p>{{ form_widget(form) }}</p>
        <button type="submit">Add</button>
        <p>{{ form_end(form) }}</p>

    </div>
{% endblock %}